# Скрытые папки редакторов и настроек
.opencode/
.vscode/
.idea/

# Мусор компиляции и логи
*.exe
*.o
*.obj
*.log
*.err

# Временные папки с чужим кодом (чтобы не путались)
src_stolen/

# Игнорируем исходники, которые случайно валяются прямо в корне
# (так как у тебя есть нормальная папка src/)
/bus.c
/main.c
/mos6502.c
/mos6502.h